services:

  os01:
    restart: always
    image: opensearchproject/opensearch:latest
    environment:
      OPENSEARCH_JAVA_OPTS: "-Xms1024m -Xmx1024m" # minimum and maximum Java heap size, recommend setting both to 50% of system RAM
      node.name: os01
      discovery.type: single-node
      DISABLE_INSTALL_DEMO_CONFIG: "true"
      JAVA_HOME: /usr/share/opensearch/jdk
      bootstrap.memory_lock: "true"
      network.host: "0.0.0.0"
    ulimits: 
      memlock:
        soft: -1
        hard: -1
    volumes:
      - "./config/opensearch/opensearch.yml:/usr/share/opensearch/config/opensearch.yml"
      - "os-data1:/usr/share/opensearch/data"
      - "./certs:/usr/share/opensearch/config/certificates:ro"
      - "./config/opensearch-security/internal_users.yml:/usr/share/opensearch/config/opensearch-security/internal_users.yml"
      - ./config/opensearch-security/action_groups.yml:/usr/share/opensearch/config/opensearch-security/action_groups.yml"
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "1"
    ports:
      - 9200:9200
      - 9600:9600

  opensearch-dashboards:
    restart: always
    build:
      context: Build
      dockerfile: Dockerfile-dashboard
    environment:
      OPENSEARCH_HOSTS: '["https://os01:9200"]'
      DISABLE_INSTALL_DEMO_CONFIG: "true"
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "1"
    volumes:
      - "./certs:/usr/share/opensearch-dashboards/config/certificates:ro"
      - "./config/opensearch-dashboards/opensearch-dashboards.yml:/usr/share/opensearch-dashboards/config/opensearch_dashboards.yml"
      - "./assets:/usr/share/opensearch-dashboards/assets:ro"
    ports:
      - 5601:5601

  logstash:
    build:
      context: Build
      dockerfile: Dockerfile-logstash
    container_name: logstash
    ports:
      - "5044:5044"
      - "9601:9600"
    volumes:
      - ./config/logstash/pipeline:/usr/share/logstash/pipeline
      - ./config/logstash/config:/usr/share/logstash/config
    environment:
      - LOGSTASH_JAVA_OPTS="-Xmx1g -Xms1g"

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.15.2
    container_name: filebeat
    volumes:
      - ./config/filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - ./audit-logs:/audit-logs
    environment:
       - ELASTICSEARCH_HOST=logstash
    command: >
      filebeat -e -strict.perms=false
volumes:
  os-data1: